.mixin.out
.idea
.probe
.vscode
kubejs/client_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/config/probe-settings.json

# FTB Quests Lang Splitter
# ignore original lang files like en_us.snbt
config/ftbquests/quests/lang/*.snbt

# ignore recovery files
config/ftbquests/quests/lang/recovery/*.snbt

# ignore already merged files
config/ftbquests/quests/lang/**/*.snbt_merged
